<div class="footer-bottom-area bg-dark-light section-padding-sm pt-5">
    <div class="container">
        <div class="row widgets footer-widgets">

            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-about">
                    <h5 class="widget-title">A Propos</h5>
                    <p>Nous sommes une equipe de developpeur junior en DAR </p>
                    <p>Voici notre premier projet en Angular: senGestion-App </p>
                    <p>Une application de gestion de produits</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-contact">
                    <h5 class="widget-title">Contactez Nous</h5>
                    <ul>
                        <li class="phone">
                            <span class=""> <i class="fa fa-bullseye" aria-hidden="true"></i></span>
                            <p>Amadou Sall & Marwan D. Rabé</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <span style="display:flex ; font-size: xx-small; justify-content: center; font-weight: bold; font-style: italic;" class="mx-auto py-3 "> all rigth reserved @copyright amzidou forestroad-dev</span> 
</div>
