
<app-add-produit (produitToAdd)="ajouterproduit($event)"></app-add-produit>
<h2>Liste des produits</h2>
<app-produit (produitToDelete)="deleteproduit(produit)" (produitDetails)="setdetailsProduit(produit)" (produitToEdit)="setmodifierProduit(produit)" *ngFor="let produit of produits" [produit]="produit"></app-produit>
<app-details-produit [produit]="getdetailsProduit()" *ngIf="getdetailsProduit()" ></app-details-produit>
<app-edit-produit [produit]="getmodifierProduit()"  *ngIf="getmodifierProduit()" (produitToEdit)="modifierProduit($event)" ></app-edit-produit>