<div id="wrapper" >
    <div id="sidebar-wrapper">
        <app-details-produit [produit]="getdetailsProduit()" *ngIf="getdetailsProduit()"></app-details-produit> 
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="container-fluid">
               
                <app-edit-produit [produit]="getmodifierProduit()" *ngIf="getmodifierProduit() else modif" (produitToEdit)="modifierProduit($event)" (produitCancelEdit)="cancelModifierProduit($event)"></app-edit-produit>
                <ng-template #modif>
                    <app-add-produit (produitToAdd)="ajouterproduit($event)" ></app-add-produit>
                </ng-template>
               
                <div class=" row"><h2 class="mx-auto">Liste des produits</h2>
                    <form action="" class="form-inline col-12 " (ngSubmit)="handleSearch(myForm)" #myForm="ngForm" ngform >
                        <input type="search" name="search" class="form-control col-8 offset-1" placeholder="Rechercher un produit par son nom..." ngModel required minlength="2" #nom='ngModel'>
                        <button class="btn btn-outline-info col-2 " type="submit">Rechercher</button>
                    </form>
                </div>
                <div class="row" *ngIf=" produits.length > 0 else vide ">
                    <app-produit class="col-xs-12 col-md-6 col-lg-4 col-xl-3" (produitToDelete)="deleteproduit(produit)" (produitDetails)="setdetailsProduit(produit)" (produitToEdit)="setmodifierProduit(produit)" *ngFor="let produit of produits , " [produit]="produit"></app-produit>
                </div>
                <ng-template #vide>
                    <div class="row"> <p class="mx-auto my-5">Aucun produit veuillez ajouter un produit...</p>  </div>
                </ng-template>
            </div>
         
        </div>
    </div> 
</div>


