<form (ngSubmit)="handleAdd(myForm)" #myForm="ngForm" ngform>
    <div>
        <input type="text" name="nom" id="" placeholder="nom produit ..." ngModel required minlength="2" #nom='ngModel' >
         <span style="color:red" *ngIf='nom.invalid && (nom.dirty || nom.touched)'>
            <span *ngIf="nom.errors?.['required']">Le nom est obliatoire</span>
            <span *ngIf="nom.errors?.['minlength']">2 lettre minimum</span>
        </span>   
    </div>
    <div>
        <input type="number" name="prix" id="" placeholder="prix du produit ..." ngModel required min="60" #prix='ngModel' >
        <span style="color:red" *ngIf='prix.invalid && (prix.dirty || prix.touched)'>
            <span *ngIf="prix.errors?.['required']"> prix obligatoire</span>
            <span *ngIf="prix.errors?.['min']"> prix superieur a 60</span>
        </span> 
    </div>
    <div>
        <textarea name="description" id="" placeholder="Description" cols="20" rows="2" required minlength="30" ngModel #description='ngModel'>Description</textarea>
        <span style="color:red" *ngIf='description.invalid && (description.dirty || description.touched)'>
            <span *ngIf="description.errors?.['required']"> description obligatoire</span>
            <span *ngIf="description.errors?.['minlength']"> 30 char minimum</span>
        </span> 
    </div>
    <div>
        <button type="submit" [disabled]="myForm.invalid">Ajouter</button>
    </div>
    
    </form>
    
    