        <div class=" produit">
            <div class="tile">
                <div class="wrapper">
                    <div class="header"> <strong> Produit </strong></div>
    
                    <div class="stats">
                        <div >
                            <strong>Nom :</strong> {{produit.nom}}
                        </div>
                        <div>
                            <strong>Prix :</strong> {{produit.prix}}
                        </div>
                    </div> 

                    <div class="row">
                        <button  class="btn btn-outline-info col-12" id="detailsBtn"(click)="handleDetails()" onclick="openDetails(),goToTop()" >Détails</button>
                        <button  class="btn btn-outline-primary col-12" (click)="handleEdit()" onclick="goToTop()">Modifier</button>
                        <button  class="btn btn-outline-warning col-12" (click)="handleDelete()">Supprimer</button>
                    </div>
                </div>
            </div> 
        </div>
      