<div class="container-fluid" >
    <div class="row">
        <div class="col-10 mx-auto my-2">
            <div class="tile" >
                <div class="wrapper" id="produitDetails">
                    <div class="header">Infos du produit {{ produit.getId}}</div>


                   <div class="stats">
                       
                        <div>
                            <strong> ID :</strong>  {{ produit.getId}}
                        </div>

                        <div>
                            <strong> Nom :</strong>  {{ produit.getNom}}
                        </div>

                        <div>
                            <strong>Prix :</strong> {{ produit.getPrix}}
                        </div>

                        <div>
                            <strong>Description : </strong> {{ produit.getDescription}}
                        </div>

                    </div>

                    <div class=" footer row mx-auto">
                        <a  class="col-12 mx-auto btn btn-outline-info" onclick="closeDetails()">Fermer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>